<article class = "video-container">
    <a href="#" class="thumbnail" data-duration="12:43">
        <img class = "thumbnail-image" src="/{{thumbnail}}" alt = "some photo"/>
    </a>
    <div class="video-bottom-section">
        <a href="/posts/{{id}}">
            <img class="channel-icon" src = "/{{thumbnail}}"/>
        </a>
    </div>
    <div class="video-details">
        <a href="/posts/{{id}}" class="video-title">{{title}}</a>
        <a href="/posts/{{id}}" class=" video-channel-name">ChannelName</a>
        <div class="video-metadata">
            <span>12k views</span>
            ·
            <span>1 week </span>
        </div>
    </div>
</article>`